<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>add post</title>
  </head>
  <body>
    <center>
      <form action="/posts/add" method="POST">
        <label for="fname">description:</label><br />
        <textarea id="description" rows="4" name="description"> </textarea>
        <br />
        <button type="submit">add post</button>
      </form>
    </center>
  </body>
</html>
