<!DOCTYPE html>
<html>
  <head>
    <title>Eidt Profile Page</title>
    <link rel="stylesheet" href="/stylesheets/profile.css" />
  </head>
  <body>
    <center>
      <div class="box">
        <form action="/profile/edit" method="POST">
          <input type="file" id="file" name="image" />
          <img src="/images/pfp1.jpeg" width="100%" height="100%" />
          <label for="file">EDIT PIC</label>

          <input
            type="text"
            placeholder="Name"
            name="fname"
            value="<%=user.fname%>"
          />
          <input
            type="Username"
            placeholder="last name"
            name="lname"
            value="<%=user.lname%>"
          />
          <input
            type="text"
            placeholder="Email"
            name="email"
            value="<%=user.email%>"
          />
          <input type="Website" placeholder="Website" />
          <button style="float: left; margin: 10px 0 0 18.2%">CANCEL</button>

          <button type="submit" style="float: right; margin: 10px 18.2% 0 0">
            DONE
          </button>
        </form>
      </div>
    </center>
  </body>
</html>
